<h1>Edit an article</h1>

<%= form_tag(articles_url(@articles.id), method: 'patch') do %>

  <label for="title">Title:</label>
  <input id="title" type="text" name="title" value="<%= @articles.title %>">
  <br>
  <label for="content">Content:</label>
  <input type="text" id="content" name="desc" value="<%= @articles.content %>">

  <br>
  <input type="submit">

<% end %>
